@CHARSET "UTF-8";

#main_view{
  position:absolute;
  top:37%;
  left:40%;
  width:400px;
  height:200px;
}

#confirm_information{
	 width:100px;
  	height:50px;
}

 td ,th{
    border: 1px solid black;
    border-collapse : collapse;
}
.myinformation{
	width :100%;
	border-collapse : collapse;
}
